.odmen-block {
  height: 205px;
  width: 235px;
  margin: 20px;
  font-size: 17px;
  color: #fff;
  background-color: green;
  border: none;
  border-bottom: 4px solid #66ff33;
  cursor: pointer;
  border-radius: 10px;
}

.text {
  position: relative;
}

.odmen-block:hover {
  transition: all 0.5px;
  background-color: #00ff00;
  color: #006600;
  border-bottom: 4px solid green;
}

.odmen-block:active {
  box-shadow: #006600 0px 0px 20px;
  border-radius: 10px;
}

.odmen-block:focus {
  box-shadow: #006600 0px 0px 20px;
  border-radius: 10px;
}

.odmen-block p::before {
  content: '';
  width: 1px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 10px;
  transition: .5s;
  visibility: hidden;
}

.odmen-block p::after {
  content: '';
  width: 1px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 100%;
  right: 10px;
  transition: .5s;
  visibility: hidden;
}

.odmen-block:hover .text::before {
  background-color: #006600;
  visibility: visible;
  width: 50%;
  transform: translateX(80%);
}

.odmen-block:hover .text::after {
  background-color: #006600;
  visibility: visible;
  width: 50%;
  transform: translateX(-80%);
}
