<div class="container">
  <div class="row">
    <div class="col">

      <button [routerLink]="['products-list-view']" class="btn odmen-block">
        <p class="text">View Product List</p>
      </button>

      <button [routerLink]="['add-product']" class="btn odmen-block">
        <p class="text">Add Product</p>
      </button>

      <button [routerLink]="['categories-list-view']" class="btn odmen-block">
        <p class="text">View Categories List</p>
      </button>

      <button [routerLink]="['add-category']" class="btn odmen-block">
        <p class="text">Add Category</p>
      </button>

      <button [routerLink]="['user-manager']" class="btn odmen-block">
        <p class="text">User Manager</p>
      </button>

    </div>
  </div>
</div>
