.product-block {
  background-color: white;
  width: 250px;
  padding: 10px;
  border: #b3e1ee 1px solid;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

.image-of-product {
  height: 210px;
  width: 210px;
  border-radius: 10px;
}

.name-of-product {
  color: #29586c;
  text-align: center;
  margin: 10px;
}

.price-of-product {
  color: tomato;
  text-align: center;
  margin: 10px;
  text-decoration: underline;
}

.nav { background-color: #29586c; border-radius: 10px; }

.nav-item {
  color: white;
  width: 25%;
  text-align: center;
  padding: 5px;
}

.first-item { border-radius: 10px 0px 0px 10px; }

.last-item { border-radius: 0px 10px 10px 0px; }

.nav-item:hover { background-color: #b3e1ee; color: #29586c; }

.shadow { border-radius: 10px; }

.shadow:hover { box-shadow: 10 3 0 gray; }
