<form (ngSubmit)="OnSubmit()">
  <div class="col-md-8">
    <h2 class="title">Add Category</h2>

    <div class="form-group">
      <label for="name" class="data-of-category">Category's name: </label>
      <input type="text" class="form-control" [(ngModel)]="model.Name" name="categoryName" placeholder="Enter name of category:">
    </div>

    <button class="btn" title="Add new category">Add new category</button>
    <button class="btn btn-second" title="Add new category">Back to panel</button>
  </div>
</form>
