thead {
  background-color: green;
  color: #ffffff;
}

.head-frst {
  width: 30%;
  border-radius: 10px 0px 0px 0px;
}

.head-last {
  border-radius: 0px 10px 0px 0px;
}

.body-tr {
  background-color: green;
  color: #ffffff;
  font-weight: 500;
}

.body-tr:hover {
  background-color: #00cc00;
  color: #ffffff;
}

.fa {
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.form-control:focus {
  box-shadow: green 0px 0px 20px;
  border: 1px #ffffff solid;
}
