.col-md-4, .col-md-5, .col-md-3  { margin-top: 1%; }

.p-params {
  color: white;
}

.data {
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: underline;
}

.table-borderless {
  background-color: #006600;
  color: white;
  border-radius: 10px;
  border: #006600 1px solid;
  border-collapse: separate;
}

tr, th, td { border-top: 1px solid white; }

ul { list-style-type: none; }

.btn {
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 10px;
}

.btn:hover {
  background-color: #006600;
  border: 1px #fff solid;
  text-decoration: underline;
  color: #fff;
}

.btn:focus { box-shadow: #00ff00 0px 0px 20px; }

.fa {
  color: #fff;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.fa:hover {
  color: #006600;
  background-color: #fff;
}

.bb {
  text-align: center;
  margin: 20px;
  margin-bottom: 30px;
}

.gallery {
  color: #fff;
  background-color: #006600;
  padding: 5px;
  border-radius: 10px;
  margin-left: auto;
}

.images {
  margin-right: auto;
  margin-left: auto;
}

.imgs {
  width: 700px;
  height: 350px;
  border-radius: 10px;
}

hr { background-color: #fff !important; width: 80% !important; }
