<div class="container">

  <div class="row">

    <div class="col-md-4">
      <img
        src=""
        class="img-fluid">
    </div>

    <div class="col-md-6">
      <p class="p-params">Name: <!--ИИМЯ--><span class="data"></span></p>
      <p class="p-params">Brand: <!--БРЕНД--><span class="data"></span></p>
      <p class="p-params">Category: <!--КАТЕГОРИЯ--><span class="data"></span></p>
      <p class="p-params">Description: <!--ОПИСАНИЕ--><span class="data"></span></p>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Warranty</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><!--МЕСЯЦЫ--><br><br>
              The seller guarantees the packaging of the ordered goods, which ensures the integrity and safety of its
              presentation.</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>
              Payment
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
             <!--СПОСОБЫ ОПЛАТЫ-->
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-2">
      <ul>
        <li><button class="btn">Buy: <!--ЦЕНА--> $</button></li>
        <li><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></li>
      </ul>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8 images">

      <h2 class="bb">
        <span class="gallery">
          Gallery
        </span>
      </h2>

      <ul class="img-menu">
        <li>
          <img
            src=""
            class="imgs">
        </li>
        <hr>
        <li>
          <img
            src=""
            class="imgs">
        </li>
        <hr>
        <li>
          <img
            src=""
            class="imgs">
        </li>

      </ul>

    </div>

  </div>

</div>
