<div class="container">

  <div class="row" *ngIf="model">

    <div class="col-md-4">
      <img src="{{ model.mainImage }}" class="rounded">
    </div>

    <div class="col-md-5">
      <p class="p-params">Name:
        <span class="data">{{ model.name }}</span></p>
      <p class="p-params">Brand:
        <span class="data">{{ model.brand }}</span></p>
      <p class="p-params">Category:
        <span class="data">{{ model.category }}</span></p>
      <p class="p-params">Description:
        <span class="data">{{ model.description }}</span></p>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Warranty</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ model.warranty }}<br><br>
              The seller guarantees the packaging of the ordered goods, which ensures the integrity and safety of it's
              presentation.</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>
              Payment
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ model.payment }}
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-md-3">
      <ul>
        <li><button class="btn" [routerLink]="['/payment']">Buy:
            {{ model.price }} $</button></li>
        <li><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></li>
      </ul>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8 images">

      <h2 class="bb">
        <span class="gallery">
          Gallery
        </span>
      </h2>

      <ul class="img-menu">
        <li>
          <img src="{{ model.firstAdditionalImage }}" class="imgs">
        </li>
        <hr>
        <li>
          <img src="{{ model.secondAdditionalImage }}" class="imgs">
        </li>
        <hr>
        <li>
          <img src="{{ model.thirdAdditionalImage }}" class="imgs">
        </li>

      </ul>

    </div>

  </div>

</div>
