.menu {
  list-style-type: none;
  background-color: #29586c;
  padding: 7px;
  border-radius: 10px;
  color: #b3e1ee;
}

.menu-item {
  padding: 5px;
}

.category {
  text-decoration: none;
  color: #b3e1ee;
  padding: 7px;
  border-radius: 10px;
  margin: 3px;
}

.category:hover {
  background-color: #b3e1ee;
  color:#29586c ;
}
