<div class="container">
  <div class="row">
    <div class="col">

      <p><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></p>
      <h2 class="login">Payment</h2>

      <div class="form-group">
        <label class="lbl" for="usr">Number of card:</label>
        <input type="text" class="form-control" id="usr" placeholder="Enter card's number:">
      </div>

      <div class="form-group">
        <label class="lbl" for="pwd">CVV:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter card's CVV:">
      </div>

      <div class="form-group">
        <ul>
          <li class="menu-item"><input type="text" class="form-control validity" maxlength="2" id="pwd" placeholder="MM"
              size="12"></li>
          <li class="menu-item"><input type="text" class="form-control validity" maxlength="2" id="pwd" placeholder="YY"
              size="20"></li>
        </ul>
      </div>

      <input class="bbtn btn" type="submit" name="submit" value="Pay" [routerLink]="['/main-page']">

    </div>
  </div>
</div>
