.tropicals {
  color: white;
  font-size: 18px;
}

.brand:hover {
  text-decoration: none !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.fr {
  float: left;
  cursor: pointer;
}

.fr:hover {
  text-decoration: underline;
}

.srch {
  margin-left: 205px;
  margin-right: 100px;
}

.navbar {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/880/265/274/4k-oled-plants-fern-green-hd-wallpaper-preview.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px !important;
}

.form-control {
  margin: 0px;
  width: 700px;
  border-radius: 10px;
}

.form-control:active {
  box-shadow: green 0px 0px 20px;
  border: solid 1px green;
}

.form-control:focus {
  box-shadow: green 0px 0px 20px;
  border: solid 1px green;
}

.admin {
  margin-left: 980px;
}
