.error {
  text-align: center;
  margin-top: 225px;
  color: green;
  font-weight: 200;
}

.text {
  text-align: center;
  color: green;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 225px;
}
