.table {
  color: #00cc00 !important;
}

thead {
  background-color: #00cc00 !important;
  color: #ffffff;
  font-weight: 400 !important;
  text-align: center !important;
}

.head-frst {
  border-radius: 10px 0px 0px 0px !important;
}

.head-last {
  border-radius: 0px 10px 0px 0px !important;
}

tbody {
  background-color: #00ff00;
  color: #ffffff;
}

.fa {
  margin: 7px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  float: right !important;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.form-control:focus {
  box-shadow: #00cc00 0px 0px 20px;
  border: 1px #00cc00 solid;
}
