<div class="container">
  <div class="col">

    <input name="search" [(ngModel)]="serchCategory" (ngModelChange)="SearchCategory()" class="form-control ab" type="text"
    placeholder="Enter name of category:">
    <div class="table-responsive">

      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="head-frst">Name</th>
            <th class="head-last">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of searchResult" class="tr-body">
            <td>
              {{ data.name }}
            </td>
            <td>
              <i (click)="deleteCategory(data.id)" class="fa fa-trash-o" title="Delete"></i>
              <i [routerLink]="['/admin-panel/edit-category/',data.id]" class="fa fa-pencil" title="Edit"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
