<div class="container">
  <div class="col">
    <div class="table-responsive">

      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="head-frst">Name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Laptops
              <i class="fa fa-trash-o" title="Delete"></i>
              <i class="fa fa-pencil" title="Edit"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
