<div class="col md-12">
  <div class="table-responsive">

    <input name="search" [(ngModel)]="searchProduct" (ngModelChange)="SearchProduct()" class="form-control ab" type="text"
    placeholder="Enter name of product:">

    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="head-frst">Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Category</th>
          <th>Description</th>
          <th>Main Image</th>
          <th>Warranty</th>
          <th>Payment</th>
          <th>Additional image (1)</th>
          <th>Additional image (2)</th>
          <th>Additional image (3)</th>
          <th class="head-last">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of searchResult">
          <td> {{ data.name }} </td>
          <td> {{ data.brand }} </td>
          <td> {{ data.price }} </td>
          <td> {{ data.category }} </td>
          <td> {{ data.description }} </td>
          <td> {{ data.mainImage}} </td>
          <td> {{ data.warranty }} </td>
          <td> {{ data.payment }} </td>
          <td> {{ data.firstAdditionalImage }} </td>
          <td> {{ data.secondAdditionalImage }} </td>
          <td> {{ data.thirdAdditionalImage }} </td>
          <td>
            <i class="fa fa-eye" aria-hidden="true" title="View this"></i>
            <i [routerLink]="['/admin-panel/edit-product/',data.id]" class="fa fa-pencil" aria-hidden="false" title="Edit"></i>
            <i (click)="deleteProduct(data.id)" class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
