<div class="col md-12">
  <div class="table-responsive">

    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="head-frst">Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Category</th>
          <th>Description</th>
          <th>Main Image</th>
          <th>Warranty</th>
          <th>Payment</th>
          <th>Additional image (1)</th>
          <th>Additional image (2)</th>
          <th>Additional image (3)</th>
          <th class="head-last">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <i class="fa fa-eye" aria-hidden="true" title="View this"></i>
            <i class="fa fa-pencil" aria-hidden="false" title="Edit"></i>
            <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
