/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

/* Provide sufficient contrast against white background */

body {
  /* background-image: url("https://s1.1zoom.ru/big0/65/Tropics_Forests_455841.jpg"); */
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
 }

 ::selection {
   background-color: green;
   color: white;
 }

 ::-webkit-scrollbar-button {
   background-image: url();
   background-repeat: no-repeat;
   width: 6px;
   height: 0px;
 }

 ::-webkit-scrollbar-track{
   background-color: #00ff00;
   box-shadow: 0px 0px 2px #00ff00 inset;
 }

 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #00cc00;
   box-shadow: 0px 1px 1px #00cc00 inset;
 }

 ::-webkit-scrollbar-thumb:hover {
   -webkit-border-radius: 5px;
   border-radius: 10px;
   background-color: green;
   box-shadow: 0px 1px 1px green inset;
 }

 ::-webkit-resizer {
   background-image: url();
   background-repeat: no-repeat;
   width: 7px;
   height: 0px;
 }

 ::-webkit-scrollbar {
   width: 9px;
 }

