h3 {
  text-align: center;
  margin-top: 20px;
}

.title {
  background-color: #b8e9f6;
  color: #29586c;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

label {
  background-color: #b8e9f6;
  color: #29586c;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  font-weight: 600;
}

.form-control:focus {
  box-shadow: #2a4158 0px 0px 20px;
  border: 1px solid #2a4158;
}

.form-control:active {
  box-shadow: #2a4158 0px 0px 20px;
  border: 1px solid #2a4158;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #b3e1ee;
  color: #29586c;
  font-weight: 600;
  border: 1px solid #29586c;
  border-radius: 7px;
}

.btn-second {
  margin-left: 10px;
}

.btn:focus {
  box-shadow: #2a4158 0px 0px 20px;
}

.btn:hover {
  background-color: #94c0c2;
  border: 1px #2a4158 solid;
  text-decoration: underline;
  color: #2a4158;
}

.btn:active {
  box-shadow: #2a4158 0px 0px 20px;
  border-radius: 10px;
}
