h3 {
  text-align: center;
  margin-top: 20px;
}

.title {
  background-color: green;
  color: #ffffff;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

label {
  background-color: green;
  color: #ffffff;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: green 0px 0px 20px;
  border: 1px solid green;
}

.form-control:active {
  box-shadow: green 0px 0px 20px;
  border: 1px solid green;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  color: #ffffff;
  border: 1px solid #00ff00;
  border-radius: 7px;
}

.btn-second {
  margin-left: 10px;
}

.btn:focus {
  box-shadow: #00cc00 0px 0px 20px;
}

.btn:hover {
  background-color: green;
  border: 1px #00ff00 solid;
  text-decoration: underline;
  color: #ffffff;
}

.btn:active {
  box-shadow: green 0px 0px 20px;
  border-radius: 10px;
}
