<div class="product-wrap">

  <div class="product-image">

    <a href=""><img src=""></a>

    <div class="shadow"></div>

    <div class="actions">

      <div class="actions-btn">
        <div class="add-to-cart">
          <a class="add-to-cart-button" href="#" title="Add to Cart"></a>
        </div>

        <div class="add-to-links">
          <div class="add-to-wishlist">
            <a class="add-to-wishlist-button" href="#" title="Add to Wish"></a>
          </div>

          <div class="quikview">
            <a class="quikview-button" href="#" title="Quick view"></a>
          </div>

          </div>

        </div>

      </div>

    </div>

  <div class="product-list">
    <h3><!--NAME AND BRAND--></h3>
    <div class="price"><!--PRICE--> $</div>
  </div>
</div>

