a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #00ff00;
}

.login {
  color: white;
  padding: 0px 20px 15px 20px;
  text-decoration: underline;
  font-weight: 200;
  margin: 0px !important;
}

.container {
  width: 450px;
  height: 500px;
  background-color: rgba(0, 102, 0, 0.9);
  box-shadow: 0 -5px 0 #00cc00;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lbl {
  float: left;
}

.form-control:focus {
  box-shadow: #00ff00 0px 0px 20px;
  border: solid 1px green;
}

.bbtn {
  padding: 13px 30px;
  margin: 5px 0px 20px 0px;
  font-size: 15px;
  color: #fff;
  background-color: #00cc00;
  border: none;
  border-bottom: 4px solid #66ff33;
  cursor: pointer;
  border-radius: 10px;
}

.bbtn:hover {
  transition: all 0.5px;
  background-color: #66ff33;
  color: #006600;
  border-bottom: 4px solid #00cc00;
  text-decoration: underline;
}

.bbtn:focus {
  box-shadow: green 0px 0px 20px;
  border-radius: 10px;
}

.bbtn:active {
  box-shadow: green 0px 0px 20px;
  border-radius: 10px;
}

.fa {
  color: white;
  padding: 10px;
  margin: 10px;
}

.fa-user-circle-o {
  margin: 0px !important;
  padding: 0px !important;
}

.fa-user-circle-o:hover { color: #00ff00;}

.fa-facebook-square:hover { color: #2a4158 ; background-color: white; border-radius: 10px; }

.fa-twitter-square:hover { color: #1ea7f5; background-color: white; border-radius: 10px; }

.fa-google:hover { color: #ec3e32; background-color: white; border-radius: 10px; }
