.col-md-8 {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 102, 0, 0.9);
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.block {
  margin: 20px !important;
}

.fa-check-square {
  color: #00ff00;
}

.subtitle {
  text-align: center;
  color: #fff;
  font-weight: 200;
  margin-bottom: 20px;
  text-decoration: underline;
}

.menu-item {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.subsubtitle {
  color: #fff;
  font-weight: 200;
}

.text, li {
  color: #fff;
}

hr {
  background-color: #fff !important;
  width: 95% !important;
}

.warning {
  color: red;
  font-weight: 600;
}

.linky {
  color: #00ff00;
}

.linky:hover {
  color: white;
}
