<div class="row-md-10">
  <div class="col-md-8">

    <div class="block">
      <h4 class="subtitle">What's with my order?</h4>
      <p class="text">Want to know what stage your order is at? Track his status in <b>your account</b>.</p>
      <h5 class="subsubtitle">What does order status mean?</h5>
      <ul style="list-style-type: none;">
        <li class="menu-item"><b>New order </b><span>&#8212;</span> we received your application and took it to work.
        </li>
        <li class="menu-item"><b>Processed by the manager </b><span>&#8212;</span> the goods are reserved at the
          warehouse and prepared for delivery.</li>
        <li class="menu-item"><b>Automatically processed </b><span>&#8212;</span> this status means that we will not
          bother you with a call to confirm the order. Your order is being prepared.</li>
        <li class="menu-item"><b>It is completed with a carrier </b><span>&#8212;</span> the carrier took the order and
          prepares it for dispatch.</li>
        <li class="menu-item"><b>Should be in the recipient city </b><span>&#8212;</span> your order is on the way.</li>
        <li class="menu-item"><b>Awaiting customer at the pickup point</b><span>&#8212;</span> the order is ready for
          delivery, and you can pick it up.</li>
        <li class="menu-item"><b>Waiting for a customer at the post office </b><span>&#8212;</span> the order is ready
          for delivery, you can pick it up from the post office.</li>
        <li class="menu-item"><b>Located in the city of the recipient </b><span>&#8212;</span> the order has arrived in
          your city and is waiting at the pick-up point. Shelf life is three business days.</li>
        <li class="menu-item"><b>The reserve term ends today </b><span>&#8212;</span> this status means that the reserve
          term is expiring. <span class="warning">Hurry to pick up the order!</span></li>
      </ul>
    </div>
    <hr>

    <div class="block">
      <h4 class="subtitle">How to pay by card?</h4>
      <p class="text">
        You can pay for your order by card - online or upon receipt in our store. To pay by card in the store: when
        placing an order, select a payment method Payment upon receipt of order.
        <br><br>
        To pay for your order online:
      </p>
      <ol type="1">
        <li> Add the product to the basket and proceed to checkout.</li>
        <li> Choose a payment method Pay now with <b>Visa/MasterCard.</b></li>
        <li> Choose exactly how you want to pay: via <b>Masterpass</b> or <b>online card.</b></li>
        <li> Complete checkout.</li>
        <li> Next, you will go to the secure payment system page where you can confirm the payment.</li>
      </ol>
      <p class="text">
        You can also pay by card with <b>Google Pay</b> or <b>PrivatPay</b>.
      </p>
      <p class="text">
        <b>Please note: to pick up an order paid for online, you must provide an identity document.</b>
      </p>
    </div>
    <hr>

    <div class="block">
      <h4 class="subtitle">How to buy goods on credit?</h4>
      <p class="text">
        You can buy on credit goods from the seller <b>FrozenSystem</b> and goods from other sellers.<br>
        The minimum order amount for payment on credit is 50 $ ..
      </p>
      <h5 class="subsubtitle">How to buy goods on credit?</h5>
      <ol type="1">
        <li>Go to the product page.</li>
        <li>To view available loan packages, click <b>Learn details</b> in the loan block.</li>
        <li>When placing an order, select the method of payment <b>Credit</b>, the desired loan package and the number
          of
          payments.</li>
        <li>Fill in all the data and click <b>Confirm Order</b>.</li>
        <li>Next, expect a call from the bank and draw up a contract.</li>
      </ol>
      <p class="text">
        You can choose a convenient address for signing the contract, get acquainted with the loan <a
          href="https://rozetka.com.ua/credit/" class="linky">conditions and bank licenses</a>.
      </p>
    </div>
    <hr>

    <div class="block">
      <h4 class="subtitle">How to cancel the order?</h4>
      <p class="text">
        You can cancel the order if you selected <b>payment upon receipt</b>.
      </p>
      <ol type="1">
        <li>Go to the <b>My Orders</b> section.</li>
        <li>Click on an order to see more information.</li>
        <li>Click <b>Cancel Order</b> on the upper right of the order block.</li>
        <li>Check the box
          ( <i class="fa fa-check-square" aria-hidden="true"></i> )
          to confirm the cancellation of the order.</li>
        <li>After that, the <b>"Cancel this order"</b> button will become active.</li>
        <li>Click it. That's it - you have successfully canceled the order. :)</li>
      </ol>
    </div>
    <hr>

    <div class="block">
      <h4 class="subtitle">How do I know if my order can already be picked up?</h4>
      <p class="text">How do you know if your order is ready for delivery?</p>
      <ol type="1">
        <li>Go to <b>My Orders</b>.</li>
        <li>Select your order.</li>
      </ol>
      <p class="text">You can pick up an order if its status is one of the following:</p>
      <ul style="list-style-type: none;">
        <li class="menu-item"><b>Waiting for a client at the post office</b> (reserve - 2 days from the moment of
          posting at the post
          office).</li>
        <li class="menu-item"><b>It is located in the city of the recipient</b> (storage period is three working days).
        </li>
        <li class="menu-item"><b>Waiting for the customer at the pick-up point</b> (reserve - 3 days, including the day
          of the planned
          delivery. If you do not have time to pick up the order by this time, you can extend the reserve).</li>
      </ul>
      <p class="text">Learn more about <b>order statuses</b>.<br><br>
        You can also track where your order is now in SMS messages.</p>
    </div>
    <hr>

    <div class="block">
      <h4 class="subtitle">I want to make an order. When will they be able to deliver it?</h4>
      <h5 class="subsubtitle">How to find out the delivery time?</h5>
      <ol type="1">
        <li>Open the product page.</li>
        <li>Go to the <b>delivery</b> block. It is located to the right of the product image under the price, stock
          information and seller information. Scroll down the page below to find.</li>
        <li>Choose your city. For instance: <b>London</b>.</li>
        <li>
          <ul style="list-style-type: none;">
            <li class="menu-item">See available shipping methods.</li>
            <li class="menu-item">For delivery to <b>post offices</b>, we indicate the date of dispatch.</li>
            <li class="menu-item">For <b>courier delivery</b> and <b>pickup</b> <span>&#8212;</span> the near future.
            </li>
          </ul>
        </li>
      </ol>
      <p class="text">
        You can choose the most convenient time of issue or delivery when placing an order.
      </p>
    </div>

  </div>
</div>

<app-footer></app-footer>
