.col-md-8 {
  margin-left: auto;
  margin-right: auto;
}

.title {
  background-color: green;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  text-decoration: underline;
}

.data-of-product {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 7px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 10px;
  margin-bottom: 318px;
}

.btn:focus {
  box-shadow: green 0px 0px 20px;
}

.btn:hover {
  background-color: green;
  border: 1px #00ff00 solid;
  text-decoration: underline;
  color: white;
}

.btn:active {
  box-shadow: green 0px 0px 20px;
  border-radius: 10px;
}

.form-control{
  color: black;
  border-radius: 7px;
  font-size: 16px;
}

.form-control:focus {
  box-shadow: #00ff00 0px 0px 20px;
  border: solid 1px green;
}

.btn-second { margin-left: 7px; }

.bdd { margin-top: 1%; }
