<div class="col-md-8">
  <h2 class="title">Edit Product</h2>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's name: </label>
    <input type="text" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's price: </label>
    <input type="text" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's brand: </label>
    <input type="text" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's category: </label>
    <input type="text" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="description" class="data-of-product">Product's description: </label>
    <input type="text" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's image: </label>
    <input type="url" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's warranty: </label>
    <input type="url" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Payment methods: </label>
    <input type="url" class="form-control" placeholder="">
  </div>

  <div class="form-group">
    <label for="name" class="data-of-product">Product's additional images: </label>
    <input type="url" class="form-control bdd" placeholder="">
    <input type="url" class="form-control bdd" placeholder="">
    <input type="url" class="form-control bdd" placeholder="">
  </div>

  <button class="btn" title="Save changes" [routerLink]="['/events']">Save changes</button>
</div>
