
  <div class="row-md-8">
    <div class="col-md-12">
      <app-categories *ngIf="listOfCategories !== null"></app-categories>
    </div>
  </div>

  <div class=row-md-8>
    <div class="col-md-8">
      <app-product-list *ngIf="listOfProducts !== null"></app-product-list>
    </div>
    <router-outlet></router-outlet>
  </div>

<div *ngIf="listOfProducts === null && listOfCategories === null" class="block">
  <i class="fa fa-square fa-5x fa-spin"></i>
  <p class="exception"> <span class="inner-text">List of Products is empty ;(</span></p>

</div>
