<div class="row-md-8">
  <div class="col-md-12">

    <ul class="menu" *ngIf="listOfProducts !== null">
      <li class="menu-item">
        <a class="category" *ngFor="let model of listOfCategories">
          {{ model.name }}
        </a>
      </li>
    </ul>

  </div>
</div>

<div class="container" *ngIf="listOfProducts !== null">
  <div class="product-wrap" *ngFor="let model of listOfProducts">

    <div class="product-image">

      <a href=""><img src="{{ model.mainImage }}"></a>

      <div class="shadow"></div>

      <div class="actions">

        <div class="actions-btn">
          <div class="add-to-cart">
            <a class="add-to-cart-button" title="Add to Cart"></a>
          </div>

          <div class="add-to-links">
            <div class="add-to-wishlist">
              <a class="add-to-wishlist-button" title="Add to Wish"></a>
            </div>

            <!-- <div class="quikview">
              <a class="quikview-button" title="Quick view" [routerLink] = "['/view']"></a>
            </div> -->

          </div>

        </div>

      </div>

    </div>

    <div class="product-list">
      <h3 class="model-brand">
        {{ model.brand }}
        {{ model.name }}
      </h3>
      <div class="price">
        {{ model.price }} $</div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>

<div *ngIf="listOfProducts === null && listOfCategories === null" class="block">
  <i class="fa fa-square fa-5x fa-spin"></i>
  <p class="exception"> <span class="inner-text">List of Products is empty ;(</span></p>

</div>
